.card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 17%;
  margin: 50px 20px;

}
.card-image {
  width: 100%;
  height: 70%;
  border: 1px black solid;
}
.wraper-info {
  margin-top: 10px;
}