.wraper-paginator {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.wraper-paginator span {
  color: black;
  margin-left: 8px;
}
.wraper-paginator span:hover {
  color: red;
  border: 1px black solid;
  cursor: pointer
}
span.selected {
  text-decoration: underline;
}
