.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #A6C3D4;
}
.input-value {
  height: 25px;
  width: 450px;
}
select {
  background-color: #A6C3D4;
  border: none;
}